.particles-js-background {
    z-index: -999;
    width: inherit !important;
    height: inherit !important;
    #particles-js{
        z-index: -1;
        width: inherit !important;
        height: inherit !important;
    }
    canvas {
        width: inherit !important;
        height: inherit !important;
        top: 0;
        display:block;
        position: absolute;
    }
}